{% extends "base.html" %}

{% block content %}
  <h1>Detail info about {{ object.model }}</h1>
  <p>Model :{{ object.model }}</p>
  <p>Manufacturer: {{ object.manufacturer.name }}</p>
  <p>Country : {{ object.manufacturer.country }}</p>
  {% if object.drivers %}
    <h2>Drivers: </h2>
    {% for driver in object.drivers.all %}
      <p>{{ driver.last_name }} {{ driver.first_name }}</p>
    {% endfor %}
  {% else %}
    <h3>Drivers does nor exist</h3>
  {% endif %}
{% endblock %}
